/* Para el h1 styles */
html,body{
    background-color: powderblue;

}
li{
    background-color: white;
    font-size: 20 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}